* {
  font-family: 'Poppins', sans-serif;
}

/* css do site personalizado */
:root {
  --cor-primaria: #F1396D;
  --cor-secundaria: #ACC95F;
  --subcor-primaria: #F6ABBB;
  --subcor-secundaria: #457F4B;
  --cor-titulo: #121111;
  --cor-subtitulo: #8F8F8F;
  --cor-cinza: #E7E7E7;
  --cor-fundo: #FFE5EB;
}

.conteudo {
  min-width: 100vh;
  max-width: fit-content;
  padding: 80px;
  border: 2px solid #F1396D;
  border-radius: 45px;
  background-color: #FD6081;
  box-shadow: 0px 4px 12px;
  text-align: center;
}

.conteudo p {
  font-size: 26px;
  color: #5e5a5a;
  margin-bottom: 20px;
  padding: 20px;
}

.conteudo button {
  margin: 20px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: var(--cor-primaria);
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: background 0.3s;
}

.conteudo button:focus {
  background-color: var(--subcor-primaria);
}

.voltar {
  font-family: 'Poppins', sans-serif;
  background: none;
  align-items: flex-start;
  border: none;
  color: var(--cor-primaria);
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

.voltar:hover {
  color: var(--subcor-primaria);
}