.flipCard {
  background-color: transparent;
  width: 250px;
  height: 320px;
  perspective: 1000px;
  cursor: pointer;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipped {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #f3ffeb;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flipCardBack {
  transform: rotateY(180deg);
}

.profileImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #e98ee1;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os cards */
  gap: 20px; /* Espaçamento entre os cards */
  max-width: 800px; /* Ajuste conforme necessário */
  margin: 0 auto; /* Centraliza o container na página */
}
