@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&display=swap");

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
  align-items: center;
  padding: 40px;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #a4ec69, #f6d365);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

.edu-font {
  font-family: "Edu NSW ACT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
